body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  background: url('bg.jpg') center/cover no-repeat;
  overflow-x: hidden;
}

/* desktop بس */
@media (min-width:768px){
  body{background-attachment: fixed;}
}

body.no-scroll{overflow:hidden;}

.intro{
  height:100vh;
  background:#000;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:#fff;
  cursor:pointer;
}

/* MAIN + الستارة */
.main{
  display:none;
  position:relative;
  padding:40px 20px;
  max-width:500px;
  margin:auto;
}

.main::before{
  content:"";
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.45);
  backdrop-filter:blur(5px);
  z-index:-1;
}

/* النص */
h1{
  font-family:'Playfair Display',serif;
  color:#fff;
  opacity:0;
  transform:scale(0.9);
  transition:1s;
}
h1.show{opacity:1;transform:scale(1);}

h2,p{color:#e0e0e0;text-align:center;}
span{color:#d4af37;}

/* سكشن */
.section{
  margin-bottom:60px;
  opacity:0;
  transform:translateY(40px);
  transition:.8s;
}
.section.show{
  opacity:1;
  transform:translateY(0);
}

/* countdown */
.countdown{display:flex;gap:10px;}
.countdown div{
  flex:1;
  background:rgba(255,255,255,.08);
  padding:15px;
  border-radius:12px;
  text-align:center;
}

.countdown span{
  font-family:'Playfair Display';
  font-size:36px;
  color:#d4af37;
  transition:.2s;
}
.countdown span.animate{
  transform:scale(1.15);
  opacity:.6;
}
.countdown p{
  font-size:14px;
  color:#e0e0e0;
}

/* زرار */
.map-btn{
  display:block;
  margin:20px auto;
  padding:6px 12px;
  border-radius:8px;
  background:linear-gradient(135deg,#d4af37,#b8962e);
  color:#000;
  width:fit-content;
}

/* صوت */
#musicBtn{
  position:fixed;
  bottom:20px;
  right:20px;
  z-index:9999;
}

/* قلوب */
.heart{
  position:absolute;
  color:#ff4d6d;
  animation:float 1s forwards;
}
@keyframes float{
  to{transform:translateY(-80px);opacity:0;}
}